@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap");

.publishing-help *,
#publishingContainer * {
    font-family: "Nanum Gothic", sans-serif !important;
}

.publishingContainer a {
    text-decoration: none;
}
.publishing-help {
    font-family: "Nanum Gothic", sans-serif !important;
    font-size: 11px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 40px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
}
.publishing-help span {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
}
.publishing-help span:not(:first-child) {
    margin-left: 1.3em;
}
.publishing-help span:before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 5px;
}
.publishing-help .title {
    margin-right: 25px;
    font-size: 15px;
    font-weight: bold;
}
.publishing-help span.popup {
    color: #4365e2;
}
.publishing-help span.popup:before {
    background: #4365e2;
}
.publishing-help span.change {
    color: #ff4b4b;
}
.publishing-help span.change:before {
    width: 15px;
    height: 1px;
    border-radius: 0;
    border-top: 2px dashed #ff4b4b;
}
.publishing-help span.not {
    color: #b0b0b0;
}
.publishing-help span.not:before {
    background: #b0b0b0;
}
.publishing-help span.add {
    color: #21ce7b;
    color: #ff4b4b;
}
.publishing-help span.add:before {
    content: "+";
    font-size: 16px;
    width: 15px;
    height: 15px;
    color: #fff;
    border-radius: 50%;
    background: #ff4b4b;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.publishing-help span + a {
    margin-left: 30px;
}
.publishing-help a {
    font-size: 11px;
    padding: 0 10px;
    height: 24px;
    line-height: 1em;
    font-weight: normal;
    color: #fff;
    text-align: left;
    background: rgba(55, 71, 79, 0.5);
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
}
.publishing-help .bold {
    font-weight: bold !important;
}
.publishing-help span.tag-repeat {
    display: inline-flex;
    align-items: center;
}
.publishing-help span.tag-repeat:before {
    content: "以�";
    background: #e7e7e7 !important;
    border-radius: 3px;
    width: auto;
    height: 17px;
    padding: 0 3px;
    color: #e58138;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.publishing-help span.tag-same {
    display: inline-flex;
    align-items: center;
}
.publishing-help span.tag-same:before {
    content: "��";
    background: #ffae2e !important;
    border-radius: 3px;
    width: auto;
    height: 17px;
    padding: 0 3px;
    color: #fff;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

._record {
    width: 110px;
    background: rgba(0, 0, 0, 0.02);
    background: #fff;
    font-size: 12px;
    font-family: "Nanum Gothic", sans-serif;
}
._record ul {
    overflow-y: auto;
}
._record li {
    display: flex;
    align-items: center;
    height: 31px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
}
._record li a {
    font-weight: 600;
}
._record li a:before {
}
._record li a:hover {
    color: red;
}
._record.rsort li:first-child a {
    color: red;
}

#publishingContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px 25px;
    margin: 0px auto;
    background: #fff;
    font-size: 12px;
    font-family: "Nanum Gothic", sans-serif !important;
    box-sizing: border-box;
}
#publishingContainer.column .page-link {
    width: 100%;
}
#publishingContainer .page-link {
    padding: 15px;
}
.page-link {
    position: relative; /*min-width:260px;*/
}
.page-link.bg {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}
.page-link:before {
    content: "" attr(data-label) "";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1em;
    display: block;
}
.page-link li {
    position: relative;
    margin: 10px 0;
}
.page-link > li * {
    vertical-align: middle;
}
.page-link li a + a,
.page-link li a + button,
.page-link li button + a,
.page-link li button + button {
    margin-left: 10px;
}
.page-link li a,
.page-link li button {
    position: relative;
    font-size: 12px;
    padding: 0 10px;
    height: 30px;
    line-height: 1em;
    font-weight: normal;
    color: #fff;
    text-align: left;
    background: #5b6380;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
}
.page-link li a:hover,
.page-link li button:hover {
    background: #474e67;
}
.page-link li a:after,
.page-link li button:after {
    content: "" attr(href) "";
    font-size: 10px;
    color: #fffa6c;
    font-weight: normal;
    margin-left: 1em;
    display: inline-block;
}
.page-link li .popup-inline,
.page-link li .popup-ajax,
.page-link li .popup-view,
.page-link li .popup-gallery,
.page-link li .pop,
.page-link li .pop,
.page-link li .pop-modal {
    background: #4365e2 !important;
}
.page-link li .popup-inline:hover,
.page-link li .popup-ajax:hover,
.page-link li .popup-view:hover,
.page-link li .popup-gallery:hover,
.page-link li .pop-modal:hover {
    background: #254ad6 !important;
}
.page-link .pop-inline {
    position: relative;
    font-size: 12px;
    padding: 0 15px;
    height: 30px;
    line-height: 1em;
    font-weight: normal;
    color: #fff;
    text-align: left;
    background: #4365e2;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
    border: 0;
}
.page-link .pop-inline:after {
    content: "" attr(data-href) "";
    font-size: 10px;
    color: #fffa6c;
    font-weight: normal;
    margin-left: 1em;
    display: inline-block;
}
.page-link .pop-inline:hover {
    background: #254ad6 !important;
}
.page-link .pop-modal:after {
    content: attr(data-tw-target);
    font-size: 10px;
    color: #fffa6c;
    font-weight: normal;
    margin-left: 1em;
    display: inline-block;
}
.page-link .pop-modal.dropdown-toggle:after {
    content: attr(data-tw-toggle);
    font-size: 10px;
    color: #fffa6c;
    font-weight: normal;
    margin-left: 1em;
    display: inline-block;
}
.page-link .tag-repeat:before {
    content: "以�";
    position: absolute;
    top: -5px;
    left: -5px;
    background: #e7e7e7;
    border-radius: 3px;
    padding: 2px 3px 1px 3px;
    color: #e58138;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.page-link .tag-same:before {
    content: "��";
    position: absolute;
    top: -5px;
    left: -5px;
    background: #ffae2e;
    border-radius: 3px;
    padding: 2px 3px 1px 3px;
    color: #fff;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.page-link li a.change:before,
.page-link li button.change:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: 2;
    border-radius: 3px;
    border: 2px dashed #ff4b4b;
    background: rgba(255, 44, 44, 0.1);
}
.page-link li a.not,
.page-link li button.not {
    background: #d4d4d4 !important;
    color: rgba(255, 255, 255, 0.6);
    cursor: not-allowed;
}
.page-link li a.add:before,
.page-link li button.add:before {
    content: "+";
    font-size: 16px;
    width: 15px;
    height: 15px;
    color: #fff;
    border-radius: 50%;
    background: #ff4b4b;
    position: absolute;
    top: -6px;
    left: -8px;
    z-index: 2;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.page-link li .green {
    background-color: #13bf68 !important;
}
.page-link li a[href="#"] {
    background: rgba(71, 78, 103, 0.35) !important;
    color: rgba(255, 255, 255, 0.6);
    cursor: not-allowed;
}
.page-link li.sub {
    display: flex;
    align-items: flex-first;
}
.page-link li ul .division + li.sub {
    margin-top: 0;
}
.page-link li.sub span.label {
    font-size: 12px;
    font-weight: 600; /*margin-top:10px;*/
    margin-right: 50px;
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    border-radius: 3px;
    color: #fff;
    background: #858ca5;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.page-link li.sub.label-black > span.label {
    background: #000;
}
.page-link li.sub.label-light > span.label {
    background: #fff;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.04);
}
.page-link li.sub.label-blue > span.label {
    background: #1e26d7;
}
.page-link li.sub.label-red > span.label {
    background: #dd4c4c;
}
.page-link li.sub.label-green > span.label {
    background: #1bc8a6;
}
.page-link li.title > span.label {
    background-color: rgba(0, 0, 0, 0.9);
}
.page-link li.sub a.label {
    margin-right: 50px;
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    border-radius: 3px;
    color: #fff;
    background: auto;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.page-link li.sub ul {
    position: relative;
}
.page-link li.sub .division {
    position: absolute;
    top: 15px;
    left: -20px;
    width: 1px;
    height: calc(100% - 30px);
    background: #aeb5cd;
    display: inline-block;
}
.page-link li ul li:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    background: #aeb5cd;
    position: absolute;
    top: 50%;
    left: -20px;
    z-index: 0;
}
.page-link li ul li.sub:before {
    top: 15px;
}
.page-link li ul li:first-child:before {
    width: 50px;
    left: -50px;
}
.page-link li ul .division + li:before {
    width: 50px;
    left: -50px;
}

.page-link li:first-child {
    margin-top: 0;
}
.page-link li:last-child {
    margin-bottom: 0;
}
.page-link .division + li {
    margin-top: 0;
}

.page-link li.toggle > span.label {
    position: relative;
    padding-right: 12px;
    cursor: pointer;
}
.page-link li.toggle > span.label:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url("folder.svg") no-repeat center / 100%;
    position: absolute;
    top: -6px;
    right: -12px;
    z-index: 3;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25);
}
.page-link li.toggle > span.label:hover:after {
    transform: scale(1.2);
}
.page-link li.toggle:not(.show) > span.label + * {
    display: none;
}
.page-link li.toggle.show > span.label:after {
    background-image: url("folder-open.svg");
}

.page-link li a .color-red {
    color: #ff8181;
}

.page-link .changeDate {
    font-family: "Montserrat";
    position: absolute;
    top: -7px;
    left: 100%;
    margin-left: -12px;
    z-index: 99;
    font-size: 10px;
    height: 16px;
    padding: 0 5px;
    border-radius: 20px;
    background: #b7bbc0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.page-link .changeDate.last {
    background: #f65454;
}

@media screen and (min-width: 701px) {
    ._record {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 3;
        height: calc(100% - 40px);
        margin-top: 40px;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        overflow-y: auto;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.06);
    }
    #publishingContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 1vw 100px 3vw;
        /* margin-top: 40px; */
        overflow-y: auto;
    }
    ._record + #publishingContainer {
        width: calc(100% - 110px);
    }
}

@media screen and (max-width: 700px) {
    body {
        overflow: auto;
    }
    body,
    #page-wrapper,
    #wrapper {
        /* font-family: Apple SD Gothic Neo, sans-serif; */
    }
    .publishing-help {
        padding: 0 15px;
    }
    ._record {
        font-size: 11px;
        width: 80px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        max-height: 94px;
        overflow-y: auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
    }
    #publishingContainer {
        width: 100%;
        padding: 20px 15px 100px 15px;
        margin-top: 40px;
        overflow-x: auto;
    }
    .page-link li.sub .label {
        font-size: 11px;
    }
    .page-link li a {
        font-size: 13px;
        font-weight: 500;
        padding: 0 10px;
        height: 34px;
        line-height: 1em;
        letter-spacing: -0.025em;
    }
    .page-link li a:after {
        font-size: 8px;
    }
}

/*�������������������������������� Margin ��������������������������������*/
#publishingContainer .mt1 {
    margin-top: 1px !important;
}
#publishingContainer .mt2 {
    margin-top: 2px !important;
}
#publishingContainer .mt3 {
    margin-top: 3px !important;
}
#publishingContainer .mt4 {
    margin-top: 4px !important;
}
#publishingContainer .mt5 {
    margin-top: 5px !important;
}
#publishingContainer .mt6 {
    margin-top: 6px !important;
}
#publishingContainer .mt7 {
    margin-top: 7px !important;
}
#publishingContainer .mt8 {
    margin-top: 8px !important;
}
#publishingContainer .mt9 {
    margin-top: 9px !important;
}
#publishingContainer .mt10 {
    margin-top: 10px !important;
}
#publishingContainer .mt10 {
    margin-top: 10px !important;
}
#publishingContainer .mt15 {
    margin-top: 15px !important;
}
#publishingContainer .mt20 {
    margin-top: 20px !important;
}
#publishingContainer .mt25 {
    margin-top: 25px !important;
}
#publishingContainer .mt30 {
    margin-top: 30px !important;
}
#publishingContainer .mt35 {
    margin-top: 35px !important;
}
#publishingContainer .mt40 {
    margin-top: 40px !important;
}
#publishingContainer .mt45 {
    margin-top: 45px !important;
}
#publishingContainer .mt50 {
    margin-top: 50px !important;
}
#publishingContainer .mt55 {
    margin-top: 55px !important;
}
#publishingContainer .mt60 {
    margin-top: 60px !important;
}
#publishingContainer .mt65 {
    margin-top: 65px !important;
}
#publishingContainer .mt70 {
    margin-top: 70px !important;
}
#publishingContainer .mt75 {
    margin-top: 75px !important;
}
#publishingContainer .mt80 {
    margin-top: 80px !important;
}
#publishingContainer .mt85 {
    margin-top: 85px !important;
}
#publishingContainer .mt90 {
    margin-top: 90px !important;
}
#publishingContainer .mt95 {
    margin-top: 95px !important;
}
#publishingContainer .mt100 {
    margin-top: 100px !important;
}
#publishingContainer .mt110 {
    margin-top: 110px !important;
}
#publishingContainer .mt115 {
    margin-top: 115px !important;
}
#publishingContainer .mt120 {
    margin-top: 120px !important;
}
#publishingContainer .mt125 {
    margin-top: 125px !important;
}
#publishingContainer .mt130 {
    margin-top: 130px !important;
}
#publishingContainer .mt135 {
    margin-top: 135px !important;
}
#publishingContainer .mt140 {
    margin-top: 140px !important;
}
#publishingContainer .mt145 {
    margin-top: 145px !important;
}
#publishingContainer .mt150 {
    margin-top: 150px !important;
}
#publishingContainer .mt155 {
    margin-top: 155px !important;
}
#publishingContainer .mt160 {
    margin-top: 160px !important;
}
#publishingContainer .mt165 {
    margin-top: 165px !important;
}
#publishingContainer .mt170 {
    margin-top: 170px !important;
}
#publishingContainer .mt175 {
    margin-top: 175px !important;
}
#publishingContainer .mt180 {
    margin-top: 180px !important;
}
#publishingContainer .mt185 {
    margin-top: 185px !important;
}
#publishingContainer .mt190 {
    margin-top: 190px !important;
}
#publishingContainer .mt195 {
    margin-top: 195px !important;
}
#publishingContainer .mt200 {
    margin-top: 200px !important;
}
#publishingContainer .mt210 {
    margin-top: 210px !important;
}
#publishingContainer .mt215 {
    margin-top: 215px !important;
}
#publishingContainer .mt220 {
    margin-top: 220px !important;
}
#publishingContainer .mt225 {
    margin-top: 225px !important;
}
#publishingContainer .mt230 {
    margin-top: 230px !important;
}
#publishingContainer .mt235 {
    margin-top: 235px !important;
}
#publishingContainer .mt240 {
    margin-top: 240px !important;
}
#publishingContainer .mt245 {
    margin-top: 245px !important;
}
#publishingContainer .mt250 {
    margin-top: 250px !important;
}
#publishingContainer .mt255 {
    margin-top: 255px !important;
}
#publishingContainer .mt260 {
    margin-top: 260px !important;
}
#publishingContainer .mt265 {
    margin-top: 265px !important;
}
#publishingContainer .mt270 {
    margin-top: 270px !important;
}
#publishingContainer .mt275 {
    margin-top: 275px !important;
}
#publishingContainer .mt280 {
    margin-top: 280px !important;
}
#publishingContainer .mt285 {
    margin-top: 285px !important;
}
#publishingContainer .mt290 {
    margin-top: 290px !important;
}
#publishingContainer .mt295 {
    margin-top: 295px !important;
}
#publishingContainer .mt300 {
    margin-top: 300px !important;
}
#publishingContainer .ml1 {
    margin-left: 1px !important;
}
#publishingContainer .ml2 {
    margin-left: 2px !important;
}
#publishingContainer .ml3 {
    margin-left: 3px !important;
}
#publishingContainer .ml4 {
    margin-left: 4px !important;
}
#publishingContainer .ml5 {
    margin-left: 5px !important;
}
#publishingContainer .ml6 {
    margin-left: 6px !important;
}
#publishingContainer .ml7 {
    margin-left: 7px !important;
}
#publishingContainer .ml8 {
    margin-left: 8px !important;
}
#publishingContainer .ml9 {
    margin-left: 9px !important;
}
#publishingContainer .ml10 {
    margin-left: 10px !important;
}
#publishingContainer .ml10 {
    margin-left: 10px !important;
}
#publishingContainer .ml15 {
    margin-left: 15px !important;
}
#publishingContainer .ml20 {
    margin-left: 20px !important;
}
#publishingContainer .ml25 {
    margin-left: 25px !important;
}
#publishingContainer .ml30 {
    margin-left: 30px !important;
}
#publishingContainer .ml35 {
    margin-left: 35px !important;
}
#publishingContainer .ml40 {
    margin-left: 40px !important;
}
#publishingContainer .ml45 {
    margin-left: 45px !important;
}
#publishingContainer .ml50 {
    margin-left: 50px !important;
}
#publishingContainer .ml55 {
    margin-left: 55px !important;
}
#publishingContainer .ml60 {
    margin-left: 60px !important;
}
#publishingContainer .ml65 {
    margin-left: 65px !important;
}
#publishingContainer .ml70 {
    margin-left: 70px !important;
}
#publishingContainer .ml75 {
    margin-left: 75px !important;
}
#publishingContainer .ml80 {
    margin-left: 80px !important;
}
#publishingContainer .ml85 {
    margin-left: 85px !important;
}
#publishingContainer .ml90 {
    margin-left: 90px !important;
}
#publishingContainer .ml95 {
    margin-left: 95px !important;
}
#publishingContainer .ml100 {
    margin-left: 100px !important;
}
#publishingContainer .ml110 {
    margin-left: 110px !important;
}
#publishingContainer .ml115 {
    margin-left: 115px !important;
}
#publishingContainer .ml120 {
    margin-left: 120px !important;
}
#publishingContainer .ml125 {
    margin-left: 125px !important;
}
#publishingContainer .ml130 {
    margin-left: 130px !important;
}
#publishingContainer .ml135 {
    margin-left: 135px !important;
}
#publishingContainer .ml140 {
    margin-left: 140px !important;
}
#publishingContainer .ml145 {
    margin-left: 145px !important;
}
#publishingContainer .ml150 {
    margin-left: 150px !important;
}
#publishingContainer .ml155 {
    margin-left: 155px !important;
}
#publishingContainer .ml160 {
    margin-left: 160px !important;
}
#publishingContainer .ml165 {
    margin-left: 165px !important;
}
#publishingContainer .ml170 {
    margin-left: 170px !important;
}
#publishingContainer .ml175 {
    margin-left: 175px !important;
}
#publishingContainer .ml180 {
    margin-left: 180px !important;
}
#publishingContainer .ml185 {
    margin-left: 185px !important;
}
#publishingContainer .ml190 {
    margin-left: 190px !important;
}
#publishingContainer .ml195 {
    margin-left: 195px !important;
}
#publishingContainer .ml200 {
    margin-left: 200px !important;
}
#publishingContainer .ml210 {
    margin-left: 210px !important;
}
#publishingContainer .ml215 {
    margin-left: 215px !important;
}
#publishingContainer .ml220 {
    margin-left: 220px !important;
}
#publishingContainer .ml225 {
    margin-left: 225px !important;
}
#publishingContainer .ml230 {
    margin-left: 230px !important;
}
#publishingContainer .ml235 {
    margin-left: 235px !important;
}
#publishingContainer .ml240 {
    margin-left: 240px !important;
}
#publishingContainer .ml245 {
    margin-left: 245px !important;
}
#publishingContainer .ml250 {
    margin-left: 250px !important;
}
#publishingContainer .ml255 {
    margin-left: 255px !important;
}
#publishingContainer .ml260 {
    margin-left: 260px !important;
}
#publishingContainer .ml265 {
    margin-left: 265px !important;
}
#publishingContainer .ml270 {
    margin-left: 270px !important;
}
#publishingContainer .ml275 {
    margin-left: 275px !important;
}
#publishingContainer .ml280 {
    margin-left: 280px !important;
}
#publishingContainer .ml285 {
    margin-left: 285px !important;
}
#publishingContainer .ml290 {
    margin-left: 290px !important;
}
#publishingContainer .ml295 {
    margin-left: 295px !important;
}
#publishingContainer .ml300 {
    margin-left: 300px !important;
}
#publishingContainer .mr1 {
    margin-right: 1px !important;
}
#publishingContainer .mr2 {
    margin-right: 2px !important;
}
#publishingContainer .mr3 {
    margin-right: 3px !important;
}
#publishingContainer .mr4 {
    margin-right: 4px !important;
}
#publishingContainer .mr5 {
    margin-right: 5px !important;
}
#publishingContainer .mr6 {
    margin-right: 6px !important;
}
#publishingContainer .mr7 {
    margin-right: 7px !important;
}
#publishingContainer .mr8 {
    margin-right: 8px !important;
}
#publishingContainer .mr9 {
    margin-right: 9px !important;
}
#publishingContainer .mr10 {
    margin-right: 10px !important;
}
#publishingContainer .mr10 {
    margin-right: 10px !important;
}
#publishingContainer .mr15 {
    margin-right: 15px !important;
}
#publishingContainer .mr20 {
    margin-right: 20px !important;
}
#publishingContainer .mr25 {
    margin-right: 25px !important;
}
#publishingContainer .mr30 {
    margin-right: 30px !important;
}
#publishingContainer .mr35 {
    margin-right: 35px !important;
}
#publishingContainer .mr40 {
    margin-right: 40px !important;
}
#publishingContainer .mr45 {
    margin-right: 45px !important;
}
#publishingContainer .mr50 {
    margin-right: 50px !important;
}
#publishingContainer .mr55 {
    margin-right: 55px !important;
}
#publishingContainer .mr60 {
    margin-right: 60px !important;
}
#publishingContainer .mr65 {
    margin-right: 65px !important;
}
#publishingContainer .mr70 {
    margin-right: 70px !important;
}
#publishingContainer .mr75 {
    margin-right: 75px !important;
}
#publishingContainer .mr80 {
    margin-right: 80px !important;
}
#publishingContainer .mr85 {
    margin-right: 85px !important;
}
#publishingContainer .mr90 {
    margin-right: 90px !important;
}
#publishingContainer .mr95 {
    margin-right: 95px !important;
}
#publishingContainer .mr100 {
    margin-right: 100px !important;
}
#publishingContainer .mr110 {
    margin-right: 110px !important;
}
#publishingContainer .mr115 {
    margin-right: 115px !important;
}
#publishingContainer .mr120 {
    margin-right: 120px !important;
}
#publishingContainer .mr125 {
    margin-right: 125px !important;
}
#publishingContainer .mr130 {
    margin-right: 130px !important;
}
#publishingContainer .mr135 {
    margin-right: 135px !important;
}
#publishingContainer .mr140 {
    margin-right: 140px !important;
}
#publishingContainer .mr145 {
    margin-right: 145px !important;
}
#publishingContainer .mr150 {
    margin-right: 150px !important;
}
#publishingContainer .mr155 {
    margin-right: 155px !important;
}
#publishingContainer .mr160 {
    margin-right: 160px !important;
}
#publishingContainer .mr165 {
    margin-right: 165px !important;
}
#publishingContainer .mr170 {
    margin-right: 170px !important;
}
#publishingContainer .mr175 {
    margin-right: 175px !important;
}
#publishingContainer .mr180 {
    margin-right: 180px !important;
}
#publishingContainer .mr185 {
    margin-right: 185px !important;
}
#publishingContainer .mr190 {
    margin-right: 190px !important;
}
#publishingContainer .mr195 {
    margin-right: 195px !important;
}
#publishingContainer .mr200 {
    margin-right: 200px !important;
}
#publishingContainer .mr210 {
    margin-right: 210px !important;
}
#publishingContainer .mr215 {
    margin-right: 215px !important;
}
#publishingContainer .mr220 {
    margin-right: 220px !important;
}
#publishingContainer .mr225 {
    margin-right: 225px !important;
}
#publishingContainer .mr230 {
    margin-right: 230px !important;
}
#publishingContainer .mr235 {
    margin-right: 235px !important;
}
#publishingContainer .mr240 {
    margin-right: 240px !important;
}
#publishingContainer .mr245 {
    margin-right: 245px !important;
}
#publishingContainer .mr250 {
    margin-right: 250px !important;
}
#publishingContainer .mr255 {
    margin-right: 255px !important;
}
#publishingContainer .mr260 {
    margin-right: 260px !important;
}
#publishingContainer .mr265 {
    margin-right: 265px !important;
}
#publishingContainer .mr270 {
    margin-right: 270px !important;
}
#publishingContainer .mr275 {
    margin-right: 275px !important;
}
#publishingContainer .mr280 {
    margin-right: 280px !important;
}
#publishingContainer .mr285 {
    margin-right: 285px !important;
}
#publishingContainer .mr290 {
    margin-right: 290px !important;
}
#publishingContainer .mr295 {
    margin-right: 295px !important;
}
#publishingContainer .mr300 {
    margin-right: 300px !important;
}
#publishingContainer .mb1 {
    margin-bottom: 1px !important;
}
#publishingContainer .mb2 {
    margin-bottom: 2px !important;
}
#publishingContainer .mb3 {
    margin-bottom: 3px !important;
}
#publishingContainer .mb4 {
    margin-bottom: 4px !important;
}
#publishingContainer .mb5 {
    margin-bottom: 5px !important;
}
#publishingContainer .mb6 {
    margin-bottom: 6px !important;
}
#publishingContainer .mb7 {
    margin-bottom: 7px !important;
}
#publishingContainer .mb8 {
    margin-bottom: 8px !important;
}
#publishingContainer .mb9 {
    margin-bottom: 9px !important;
}
#publishingContainer .mb10 {
    margin-bottom: 10px !important;
}
#publishingContainer .mb10 {
    margin-bottom: 10px !important;
}
#publishingContainer .mb15 {
    margin-bottom: 15px !important;
}
#publishingContainer .mb20 {
    margin-bottom: 20px !important;
}
#publishingContainer .mb25 {
    margin-bottom: 25px !important;
}
#publishingContainer .mb30 {
    margin-bottom: 30px !important;
}
#publishingContainer .mb35 {
    margin-bottom: 35px !important;
}
#publishingContainer .mb40 {
    margin-bottom: 40px !important;
}
#publishingContainer .mb45 {
    margin-bottom: 45px !important;
}
#publishingContainer .mb50 {
    margin-bottom: 50px !important;
}
#publishingContainer .mb55 {
    margin-bottom: 55px !important;
}
#publishingContainer .mb60 {
    margin-bottom: 60px !important;
}
#publishingContainer .mb65 {
    margin-bottom: 65px !important;
}
#publishingContainer .mb70 {
    margin-bottom: 70px !important;
}
#publishingContainer .mb75 {
    margin-bottom: 75px !important;
}
#publishingContainer .mb80 {
    margin-bottom: 80px !important;
}
#publishingContainer .mb85 {
    margin-bottom: 85px !important;
}
#publishingContainer .mb90 {
    margin-bottom: 90px !important;
}
#publishingContainer .mb95 {
    margin-bottom: 95px !important;
}
#publishingContainer .mb100 {
    margin-bottom: 100px !important;
}
#publishingContainer .mb110 {
    margin-bottom: 110px !important;
}
#publishingContainer .mb115 {
    margin-bottom: 115px !important;
}
#publishingContainer .mb120 {
    margin-bottom: 120px !important;
}
#publishingContainer .mb125 {
    margin-bottom: 125px !important;
}
#publishingContainer .mb130 {
    margin-bottom: 130px !important;
}
#publishingContainer .mb135 {
    margin-bottom: 135px !important;
}
#publishingContainer .mb140 {
    margin-bottom: 140px !important;
}
#publishingContainer .mb145 {
    margin-bottom: 145px !important;
}
#publishingContainer .mb150 {
    margin-bottom: 150px !important;
}
#publishingContainer .mb155 {
    margin-bottom: 155px !important;
}
#publishingContainer .mb160 {
    margin-bottom: 160px !important;
}
#publishingContainer .mb165 {
    margin-bottom: 165px !important;
}
#publishingContainer .mb170 {
    margin-bottom: 170px !important;
}
#publishingContainer .mb175 {
    margin-bottom: 175px !important;
}
#publishingContainer .mb180 {
    margin-bottom: 180px !important;
}
#publishingContainer .mb185 {
    margin-bottom: 185px !important;
}
#publishingContainer .mb190 {
    margin-bottom: 190px !important;
}
#publishingContainer .mb195 {
    margin-bottom: 195px !important;
}
#publishingContainer .mb200 {
    margin-bottom: 200px !important;
}
#publishingContainer .mb210 {
    margin-bottom: 210px !important;
}
#publishingContainer .mb215 {
    margin-bottom: 215px !important;
}
#publishingContainer .mb220 {
    margin-bottom: 220px !important;
}
#publishingContainer .mb225 {
    margin-bottom: 225px !important;
}
#publishingContainer .mb230 {
    margin-bottom: 230px !important;
}
#publishingContainer .mb235 {
    margin-bottom: 235px !important;
}
#publishingContainer .mb240 {
    margin-bottom: 240px !important;
}
#publishingContainer .mb245 {
    margin-bottom: 245px !important;
}
#publishingContainer .mb250 {
    margin-bottom: 250px !important;
}
#publishingContainer .mb255 {
    margin-bottom: 255px !important;
}
#publishingContainer .mb260 {
    margin-bottom: 260px !important;
}
#publishingContainer .mb265 {
    margin-bottom: 265px !important;
}
#publishingContainer .mb270 {
    margin-bottom: 270px !important;
}
#publishingContainer .mb275 {
    margin-bottom: 275px !important;
}
#publishingContainer .mb280 {
    margin-bottom: 280px !important;
}
#publishingContainer .mb285 {
    margin-bottom: 285px !important;
}
#publishingContainer .mb290 {
    margin-bottom: 290px !important;
}
#publishingContainer .mb295 {
    margin-bottom: 295px !important;
}
#publishingContainer .mb300 {
    margin-bottom: 300px !important;
}
