@charset "UTF-8";

*{word-break: keep-all;}
.link:hover{text-decoration: underline; cursor: pointer;}
.pb-5{padding-bottom:1.25rem}


.filebox {position: relative;}
.left_icon {border-radius: 0.375rem 0 0 0.375rem;}
.file_search {border-radius: 0 0.375rem 0.375rem 0;}
.filebox input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;}